<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kom ihåg att göra!</title>       
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dom här grejerna alltså:</h1>
    <ul>
        {% for todo in todos %}
            <li>{{ todo }}</li>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <input type="text" name="todo" placeholder="Lägg till en grej att göra">
        <button type="submit">Lägg till</button>
    </form>
</body>
</html>